nav {
    position: sticky;
    top: 0px;
    width: 100%;   
}

.maincontent {
    margin: auto;
    z-index: 0;
    top: 35px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th{
    width: 80px;
    height: 45px;
    border-color: black;
    border-style: solid;
    padding: 0px;   
}

th {
    background-color: darkslategray;
    color: floralwhite;
}

input {
    width: 78px;
    height: 43px;
    font-size: 40px;
}

fieldset {
    width: 100px;
    display: inline;
    height: 20px;
}

fieldset input{
    width: 100px;
    height: 20px;
    font-size: 15px;
}