table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }

td, th{
    width: 80px;
    height: 45px;
    border-color: black;
    border-style: solid;
    padding: 0px;   
}

th {
    background-color: grey;
}

input {
    width: 78px;
    height: 43px;
    font-size: 40px;
}